:root {
  --color-primary: #f0a5ff;
  --color-success: #a5d6a7;
  --color-success-hover: #81c784;
  --color-bg-glass: rgba(255, 255, 255, 0.05);
}


#root, .app-container {
  width: 100vw;
  min-height: 100vh;
  padding: 4rem 2rem;
  margin: 0;
  background: linear-gradient(135deg, #2e2e48, #1a1a2e);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
}


.titulo {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 1rem;
  text-shadow: 0 0 8px var(--color-primary);
}


.subtitulo {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color-primary);
  text-align: left;
  width: 100%;
  max-width: 1400px;
  padding-left: 10px;
}

.total {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-success);
  text-align: left;
  padding-left: 10px;
}


.dashboard {
  width: 90%;
  max-width: 1400px;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem auto;
  flex-wrap: wrap; 
}


.dashboard-esquerda {
  flex: 2;
  min-width: 300px;
}


.dashboard-direita {
  flex: 1;
  min-width: 280px;
}

.card,
.form,
.grafico-container,
.expense-table {
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}
