
.grafico-container {
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.05); /* vidro leve */
  border-radius: 20px;
  padding: 2.5rem 2rem 3rem 2rem;
  text-align: center;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  margin: auto;
}


.grafico-container h3 {
  font-size: 2rem;
  color: #f0a5ff; 
  margin-bottom: 1.5rem;
}
